name: GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Utkal9
          template: classic
          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_stars: yes
          plugin_followers: yes
          plugin_achievements: yes
          plugin_isocalendar: yes
